<div class="sharebuttons">
  <ul>
    <li class="panel_link">
      <a href="https://kim-hammar.com/">Blog</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/news">News</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/publications">Publications</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/talks">Talks</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/teaching">Teaching</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/code">Code</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/services">Services</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/projects">Projects</a>
    </li>
    <li class="panel_link">
      <a href="https://kim-hammar.com/about">About</a>
    </li>
  </ul>
</div>
