---
layout: default
---

<div id="toptitle">
	<h1>{{ page.title }}</h1>
	<p class="post-meta"><time>{{ page.date | date: '%B %-d, %Y' }}</time></p>
</div>

{{ content }}

<div class="page-navigation">
	{% if page.next.url %}
		<a class="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="NEXT: {{page.next.title}}">&larr; newer</a>
		<span> &middot; </span>
	{% endif %}
	<a class="home" href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}" title="Back to the blog index">Blog index</a>
	{% if page.previous.url %}
		<span> &middot; </span>
		<a class="prev" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" title="PREV: {{page.previous.title}}">older &rarr;</a>
	{% endif %}
</div>
